body {
    background-image: url('images/bgrnd.jpg');
   
    background-size: cover;
    /*display: flex;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*max-width: 1200px;
    margin: auto;*/
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50 500 500;
}

/*NAV BAR*/



nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: white;
    /*background-image: url('images/FB_IMG_1519235922864.jpg');*/
    flex-wrap: wrap;
    overflow: hidden;
    /*box-shadow: 0px 5px 6px cornflowerblue;*/
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    align-content: flex-start;
    display: flex;
    margin-left: 75%;
}

a {
    color: navy;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

    a:hover {
        background-color: white;
        color: cornflowerblue;
    }



/*defining area form main text content*/
.main-text {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    margin-top: 30px;
}

#name {
    font-size: 2rem;
    color: white;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

p {
    color: white;
    font-size: 2rem;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}

.main-img {
    grid-column: 3/ span 3;
    grid-row: 1/ span 1;
    margin-right:0;
}
#logo {
    display: flex;
    padding: 0px;
   margin-top:20%;
   margin-left: 25%;
    height: 50%;
    width: 50%;
    margin-right: 0;
}





/*carousel*/
.carousel-wrapper {
    grid-column: 1/ span 5;
    grid-row: 3/span 1;
    margin-top: 60px;
    height: 500px;
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}

}

/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-size: cover;
    background-image: url('images/TanzaniaJulie-88.jpg');
}

.item-2 {
    background-size: cover;
    background-image: url('images/ZambiaJulie-135.jpg');
}

.item-3 {
    background-image: url('images/JulesAnnapurna-155.jpg');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
.carousel-text{
    color:white;
    display:flex;
    justify-content:center;
}
