body {
    background-image: url('images/bgrnd.jpg');
   
    background-size: cover;
    /*display: flex;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*max-width: 1200px;
    margin: auto;*/
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 700px 75px 50px 75px 50px 500px 75px;
}


.empty-gap {
    height: 20px;
    grid-column: 1/ span 14;
}
/*NAV BAR*/



section.nav {
    grid-column: 1 / span 5;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left:0;
}

ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content:flex-end;
    flex-wrap: wrap;
}

a {
    color: navy;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

    a:hover {
        background-color: lightblue;
        color: navy;
    }



/*defining area form main text content*/
.main-text {
    grid-column: 1 / span 3;
   margin-top: 40px;
   
}

#title {
    font-size: 2rem;
    color: white;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

p {
    color: white;
    font-size: 1rem;
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}
h1#skills-title {
    color: white;
    font-size: 2rem;
    margin: 10px;
   display:flex
}

p#skill-list {
    color: white;
    font-size: 1rem;
}

.main-img {
    grid-column: 4/ span 3;
    margin-top: 40px;
}

.main-img {
   display: flex;
    flex-direction: row;
    justify-content: center;
   
}
img#logo {
    height: 50%;
    margin-top: 7%;
    border: solid;
    border-width:10px;
    border-color: lightblue;
}
/*divider bar:*/
.bar {
    grid-column: 1/span 6;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: navy;
    font-size: 2rem;
}





/*carousel*/
.carousel-wrapper {
    grid-column: 2/ span 4;
    margin-top: 60px;
    position: relative;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
    left: 0;
}

.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}



/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-size: cover;
    background-image: url('images/TanzaniaJulie-88.jpg');
}

.item-2 {
    background-size: cover;
    background-image: url('images/ZambiaJulie-135.jpg');
}

.item-3 {
    background-image: url('images/JulesAnnapurna-155.jpg');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}
.carousel-text{
    color:white;
    display:flex;
    justify-content:center;
}

